*{
    padding: 0px;
    margin: 0px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body{
    display: grid;
    grid-template-rows: 20% 60% 20%;
    background-color: yellow;
}

nav{
    position: relative;
    padding: 30px;
}

#borda{
    display: grid;
    grid-template-columns: 20% 60% 20%;
    align-items: center;
    justify-items: center;
}

#backgroundColor{
    margin-left: 25%;
}

.backgroundColor{
    position: absolute;
    right: 1px;
    margin-right: 6%;
}

section{
    min-height: 400px;
    display: grid;
    grid-template-rows: 100px 150px 100px;
    justify-items: center;
    align-items: center;
    margin: 3%;
}

.titulo{
    font-size: 45px;
    margin: 20px;
    text-align: center;
}

label, input{
    display: block;
}

label{
    margin: 10px;
    font-size: 45px;
}

#botoes{
    margin: 20px;
}

button{
    padding: 13px 30px;
    border: 1px solid black;
    border-radius: 10%;
    font-weight: bold;
    font-size: 15px;
}

@media (max-width: 700px){
    section{
        margin-top: 20%;
    }
}